mixin about()
	.about#about
		.about__in
			.about__content
				h1.about__title О нашей компании
				.about__image
					img(src="assets/images/general/about-image.jpg", alt="")
				.about__text
					p Наверняка многим приходилось слышать: - «На Ваш заказ машина еще не назначена». В результате Вы опоздали на работу, важную встречу или на прием к врачу. Служба сопровождения «Семейный водитель», принимает предварительные заказы и в назначенное время автомобиль, будет ожидать Вас. 
					p Зачем нужны семейные водители или водитель к ребенку? Пока глава семейства руководит компанией или принимает клиентов, Семейный водитель приходит на помощь домочадцам, отвозит детей в школу/садик, маму – в салон красоты или на шопинг, а пожилых родителей в поликлинику или на дачу. 
					p Для того, что бы найти семейного водителя в Екатеринбурге, не надо подавать объявление в газету, пересматривать кучу резюме и искать кандидата среди своих знакомых. Достаточно просто позвонить в службу сопровождения «Семейный водитель» и выбрать удобный для Вас вариант сотрудничества: 
					p 1. Договорная основа – заключается договор, в котором прописывается расписание и маршрут поездок. В этом случае к Вашей семье прикрепляется конкретный водитель. Ознакомиться с договором на абонентское облсуживание
					p 2. Разовые поездки – поездка к врачу, отвезти ребенка к бабушке, сопроводить пожилого человека в поликлинику и т.д.
					
					a.about__button(href="#") Ознакомиться с договором
			
