.map
	position relative
	// height 860px
	background #D4E5D0
	&__area
		position relative
		height 860px
		// padding-bottom 59.722%
		overflow hidden
		+r($m)
			height 1000px
	&__in
		position relative
		z-index 1
		@extends .in
		// min-height 673px
	&__form-w
		position absolute
		z-index 0
		top 45px
		left 25px
		width 508px
		min-height 643px
		background #FFFFFF
		box-shadow 0px 4px 8px rgba(0, 0, 0, 0.25)
		+r(760px)
			left 15px
			right 15px
			width auto
