include ../form/form

mixin popup()
	.popup.mfp-hide#service-popup
		.popup__content
			h2.popup__title Детское такси
			.popup__image
				img(src="assets/images/general/popup-img.jpg", alt="")
			.popup__text
				p Современные родители много работают, обеспечивая семью, дети их также не отстают, посещая кружки и секции спорта, удаленные от дома детские сады или начальные школы, поэтому вовсе не секрет, что успеть отвезти ребенка самим не всегда получается из-за высокой загруженности, поэтому служба сопровождения «Семейный водитель» оказывает услугу «Авто-няня» или детское такси в Екатеринбурге. 
				p В данной услуге преимущественно работают водители женщины (но можно выбрать и водителя-мужчину), ведь именно девушки наиболее хорошо чувствуют детей, могут найти правильный подход к каждому и оставят хорошее впечатление у ребенка. 
				p Автомобили наших авто-нянь комфортны и безопасны для перевозок детей, каждая машина детского такси имеет в оборудовании все виды удерживающих устройств в необходимом количестве для каждого ребёнка (автокресла, автолюльки, бустеры) 
				p В детском такси Екатеринбурга «Семейный водитель» работают водители женщины, которые тоже являются мамами и легко смогут найти общий язык с вашим ребенком. Авто-няня может: утром отвезти вашего ребенка в школу или садик, дождаться момента захода ребёнка в заведение, днем забрать и отвезти на занятия спортом, помочь переодеться, подождать и доставить до двери вашей квартиры, передав из рук в руки. Или просто отвезти ребенка к бабушке.
		.popup__form
			+form-popup()
	
