@css {

    @font-face {
        font-family: 'Rubik-Regular';
        src: url('../fonts/hinted-subset-Rubik-Regular.woff2') format('woff2'),
            url('../fonts/hinted-subset-Rubik-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Rubik-Medium';
        src: url('../fonts/hinted-subset-Rubik-Medium.woff2') format('woff2'),
            url('../fonts/hinted-subset-Rubik-Medium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Rubik-Bold';
        src: url('../fonts/hinted-subset-Rubik-Bold.woff2') format('woff2'),
            url('../fonts/hinted-subset-Rubik-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Neucha';
        src: url('../fonts/hinted-subset-Neucha.woff2') format('woff2'),
            url('../fonts/hinted-subset-Neucha.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

}


$n = 'Neucha', Arial, sans-serif
$rR = 'Rubik-Regular', Arial, sans-serif
$rM = 'Rubik-Medium', Arial, sans-serif
$rB = 'Rubik-Bold', Arial, sans-serif
