.social
	display block
	&__list
		font-size 0
		text-align center
	&__item
		margin-right 46px
		display inline-block
		vertical-align top
		&:last-child
			margin-right 0
	&__link
		display block
		width 46px
		height 46px
		hide-text()
	&__icon
		display block
		width 46px
		height 46px
		.cls-1
			fill #000
