mixin services()
	.services#services
		.services__in
			h2.services__title Наши услуги
			ul.services__list
				li.services__item
					a.services__link.open-popup(href="#service-popup")
						.services__image
							img(src="assets/images/general/services-1.jpg", alt="")
						.services__item-title Детское такси
				li.services__item
					a.services__link.open-popup(href="#service-popup")
						.services__image
							img(src="assets/images/general/services-2.jpg", alt="")
						.services__item-title Женское такси
				li.services__item
					a.services__link.open-popup(href="#service-popup")
						.services__image
							img(src="assets/images/general/services-3.jpg", alt="")
						.services__item-title Сопровождение пожилых людей
				li.services__item
					a.services__link.open-popup(href="#service-popup")
						.services__image
							img(src="assets/images/general/services-4.jpg", alt="")
						.services__item-title Курьерские услуги
				li.services__item
					a.services__link.open-popup(href="#service-popup")
						.services__image
							img(src="assets/images/general/services-5.jpg", alt="")
						.services__item-title Поездка в поликлиннику
				li.services__item
					a.services__link.open-popup(href="#service-popup")
						.services__image
							img(src="assets/images/general/services-6.jpg", alt="")
						.services__item-title Поездка к Ж/Д и Авиавокзалу
