include ../form/form

mixin subscription()
	.subscription
		.subscription__in
			h2.subscription__title Абонентское обслуживание
			.subscription__text
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae auctor justo, nec fringilla orci. Aliquam molestie iaculis arcu. Curabitur consequat nunc lorem, sit amet maximus tortor posuere vitae. Cras dignissim ex sed ornare tempus. Fusce sit amet vehicula eros. Nam in enim sagittis, ullamcorper ex eu, lobortis odio. Suspendisse quis sapien tempor, faucibus arcu sed, sagittis velit. In interdum elit at turpis hendrerit tempor. Nunc elementum nulla libero, ac aliquam purus volutpat non. Nulla arcu quam, euismod quis congue eu, vehicula at justo. Suspendisse sed porttitor purus.
			+form-subscribe()
	
		
